@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: hsl(0 0% 10%);
    font-family: 'Inter', sans-serif;
}

/* ---------- Handling Highlight color on click in mobile devices ---------- */
img,
a,
button {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

/* ---------- Heading Tag ---------- */

h1 {
    margin: 20px 0 0 0;
    color: #fff;
    font-size: clamp(2rem, 8vw + 1rem, 5rem);
    position: relative;
    display: flex;
    align-items: flex-start;
}

::selection {
    background: black;
}

.stacks {
    position: absolute;
    inset: 0;
    mix-blend-mode: darken;
    filter: brightness(1);
    overflow: hidden;
    pointer-events: none;
}

.stack {

    height: 100%;
    aspect-ratio: 1;
    background: radial-gradient(hsl(var(--h) 100% 70%) 25%, transparent 50%);
    position: absolute;
    display: inline-block;
    animation: scale var(--s, 2s) var(--d, 0s) infinite alternate;
    left: var(--x, 0);
    top: var(--y, 0);
    scale: 0;
    translate: -50% -50%;
    mix-blend-mode: multiply;
    filter: blur(2px);
}

.stack:nth-of-type(1) {
    --x: 10%;
    --y: 25%;
    --h: 277;
    --s2: 6;
    --d: -0.25s;
    --s: 6s;
}

.stack:nth-of-type(2) {
    --x: 50%;
    --y: 45%;
    --h: 140;
    --s2: 5;
    --d: -0.75s;
    --s: 5s;
}

.stack:nth-of-type(3) {
    --x: 65%;
    --y: 75%;
    --h: 210;
    --s2: 3;
    --d: -0.5s;
    --s: 3s;
}

.stack:nth-of-type(4) {
    --x: 85%;
    --y: 15%;
    --h: 320;
    --s2: 5;
    --d: -1s;
    --s: 2s;
}

.stack:nth-of-type(5) {
    --x: 15%;
    --y: 100%;
    --h: 40;
    --s2: 3;
    --d: -1s;
    --s: 2s;
}

@keyframes scale {
    to {
        scale: var(--s2);
    }
}


/* ---------- Tooltip ---------- */

.tooltip {
    font-size: 1rem;
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-left: 5px;
}

.tooltip-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #048BA8;
    color: #fff;
    border-radius: 50%;
    text-align: center;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;

}

.tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: #333;
    color: #ffffffaa;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity ease-in-out 0.3s;
}

/* ---------- Doodle ---------- */
.doodle {
    position: absolute;
    width: 30%;
}

/* ---------- Container ---------- */
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 90%;
    min-width: 30%;
    min-height: 70vh;
    margin: 20px auto;
}

/* ---------- Input Div ---------- */

.top-div {
    margin: 2.5px 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 0 15px;
    border-radius: 14px;
    border: 2px solid rgb(63, 63, 63);
}

.top-div:focus-within {
    border: 2px solid rgba(242, 218, 250, 0.888);
}

#task {
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    font-size: 1.05rem;
}

#task:focus~#add-task svg path,
#task:valid~#add-task svg path {
    fill: #3c3c3c;
    stroke: rgba(242, 218, 250, 0.888);
}

#add-task {
    align-self: right;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: end;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

#add-task svg {
    height: 20px;
    transition: all 0.3s ease-out;
}

#add-task svg path {
    transition: all 0.3s ease-out;
}

#add-task:hover svg path {

    stroke: rgba(242, 218, 250, 0.888);
}

/* ---------- Tasks Div ---------- */

.task-item {
    min-height: 50px;
    padding: 0px 20px;
    margin: 2.5px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 40%, #e5e5e5 48%);
    background-size: 200% 100%;
    background-position: 100% 0;
    border-radius: 8px;
    box-shadow: 0px 0px 5px -3px #111;
    position: relative;
    float: left;
    animation: load89234 2s infinite, taskSlideIn 0.5s ease-in-out forwards;
}

@keyframes load89234 {
    100% {
        background-position: -100% 0;
    }
}

@keyframes taskSlideIn {
    from {
        transform: translateX(100px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes taskSlideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(100px);
        opacity: 0;
    }
}


.task-item p {
    font-weight: 500;
    font-size: 1rem;
    margin: 10px 0;
    color: hsl(0 0% 10%);


}

.task-item #clear-task {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: auto;
}

.popTask {
    background-color: transparent;
    border: none;
    color: hsl(0 0% 10%);
    cursor: pointer;
    padding: 0;

}

/* ---------- Footer ---------- */

.footer {
    position: relative;
    bottom: 10px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    color: #5a5a5a;
    font-weight: bolder;
}

.footer a {
    color: rgba(242, 218, 250, 0.888);
    text-decoration: none;
}

.footer a:hover {
    color: #fff;
    text-decoration: underline;
}

/* responsive */
@media screen and (max-width: 480px) {
    body {
        min-height: 100svh;
    }

    .container {
        max-width: 90%;
        min-width: 90%;
        overflow: hidden;
    }

    .doodle {
        width: 80%;
    }

    h1 {
        margin-top: 0px;
        font-size: clamp(1.5rem, 4vw + 1rem, 2rem);
    }

    .tooltip {
        display: none;
    }

    .top-div {
        padding: 0 5px;
    }

    .task-item {
        padding: 0px 5px;
    }

    .footer {
        font-size: 0.75rem;
        position: absolute
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 90%;
        min-width: 90%;
    }

    h1 {
        font-size: clamp(2rem, 8vw + 1rem, 8rem);
    }

    .top-div {
        padding: 0 10px;
    }

    .task-item {
        padding: 0px 10px;
    }
}