/* Import Google Fonts for the application */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Define custom CSS variables for colors and fonts */
:root {
  --error: #ff0000;
  --light-green: #629924;
  --dark-blue: #293a49;
  --light-blue: #3692e7;
  --bg-color: #161512;
  --font-color: #bababa;
  --grey: #262421;
  --white: #fff;
  --black: #000;
  --white-shadow: #62992410;
  --noto-font: "Noto Sans", sans-serif;
  --roboto-font: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background: var(--bg-color) linear-gradient(to bottom, hsl(37, 12%, 16%), hsl(37, 10%, 8%) 116px) no-repeat;
  color: var(--font-color);
  font-family: var(--noto-font);
  overflow: hidden;

}

/* --------- Navigation ---------- */
nav {
  padding: 2.5px;
  display: flex;
  align-items: center;
}

.logo {
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
}

.logo:hover {
  color: #629924;
}

nav img {
  width: 40px;
  height: 40px;
  margin: 5px 10px;
}

/* --------- Container ---------- */

.container {
  height: calc(100vh - 90px);
  display: grid;
  grid-template-columns: 30% 35% 35%;
  grid-column-gap: 0;
}

/* --------- Game board ---------- */
#gameboard {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: calc(100% / 8);
  height: auto;
  aspect-ratio: 1 /1;
  position: relative;
}

.square .piece {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 9;
}

.square:hover {
  cursor: pointer;
  filter: saturate(2);
}

.marked {
  filter: hue-rotate(60deg) saturate(1.5);
}

.square svg {
  width: calc(100% / 1.4);
  height: auto;
  aspect-ratio: 1/1;
  margin: 5px;
  position: relative;
  z-index: -9;
}

svg path {
  position: relative;
  z-index: -10;
}

.beige {
  background-color: #F0D9B5;
}

.brown {
  background-color: #B58863;
}

.square div .black {
  fill: #000;
}

.square div .white {
  fill: #fff;
}


/* --------- Right Panel ---------- */

.right-div {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.display {
  width: 80%;
  height: auto;
  aspect-ratio: 3/1;
  margin: 15% 10px;
  background-color: var(--grey);
  font-family: var(--noto-font);
  font-weight: 400;
  transition: background-color 0.3s ease-in-out;
}

.display .playerDisplay {
  background-color: var(--bg-color);
  padding: 3px 0 3px 0;
  transition: opacity 1s ease-in;
  height: 28px;
  overflow: hidden;
  transition: height 0.3s ease-in-out
}

.display .pieces-taken {
  background-color: var(--bg-color);
  padding: 3px 0 3px 0;
  transition: opacity 1s ease-in;
  transition: height 0.3s ease-in-out;

  svg {
    width: 2rem;
    height: auto;
    aspect-ratio: 1/1;
    fill: var(--font-color);
  }
}

.display .player {
  padding: 8.4px;
  line-height: inherit;
  display: flex;
  justify-content: start;
  align-items: center;

}

#player1 {
  border-radius: 5px 5px 0 0;
}

#player2 {
  border-radius: 0 0 5px 5px;
}

.display .player.turn {
  background-color: var(--light-green);
  color: var(--white);
  transition: background-color 0.3s ease-in-out;

  svg {
    fill: var(--white) !important;
  }
}

.display .player.wrong {
  background-color: var(--error);
  color: var(--white);
  transition: background-color 0.3s ease-in-out;

}

.display .player svg {
  width: 1.8rem;
  fill: var(--light-green);
  padding-right: 10px;
  transition: fill 0.2s ease-in-out;
}

.display .player h3 {
  font-size: 1.1rem;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
  padding-right: 5px;
}

.display .info-display {
  background-color: var(--grey);
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  overflow-y: scroll;
  scrollbar-width: none;
}

.display .info-display::-webkit-scrollbar {
  display: none;
}

.display .info-display div {
  padding: 0;
}

/* --------- Position Table ---------- */

.position-table {
  width: 100%;
  margin-top: 0px;
}

.position-table th,
.position-table td {
  padding: 5px;
}

.position-table td {
  color: var(--font-color);
}

.position-table tr td:first-child {
  background-color: #302e2c;
  text-align: center;
  width: 15%;
}

.position-table tr td:nth-child(2):hover,
.position-table tr td:nth-child(3):hover {
  color: var(--white);
  background-color: var(--light-blue);
}

.position-table tr td.current-move {
  color: var(--white);
  background-color: var(--dark-blue);
}

/* --------- Rematch Button ---------- */

#rematch button {
  background-color: var(--light-green);
  color: var(--white);
  border: none;
  padding: 5px;
  cursor: pointer;
  width: 100%;
  height: 40px;
  font-size: 1rem;
  transition: background-color 0.2s ease-in-out;
}

#rematch button:hover {
  background-color: var(--dark-blue);
}

/* ---------- Footer ---------- */

.footer {
  display: grid;
  margin: 0 0 20px 0;
  justify-content: center;
  align-items: center;
  color: var(--font-color);
  font-weight: bolder;
}

.footer a {
  color: var(--light-green);
  text-decoration: none;
}

.footer a:hover {
  color: #fff;
  text-decoration: underline;
}

/* --------- Custom Message for Mobile Devices ---------- */

.terminal-loader {
  border: 0.1rem solid #333;
  background-color: #1a1a1a;
  color: #0f0;
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  padding: 1.5rem 1rem;
  margin-top: 15%;
  width: 80%;
  height: auto;
  aspect-ratio: 2/1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.terminal-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1.5rem;
  background-color: #333;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 0 0.4rem;
  box-sizing: border-box;
}

.terminal-controls {
  float: right;
}

.control {
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  margin-left: 0.4rem;
  border-radius: 50%;
  background-color: #777;
}

.control.close {
  background-color: #e33;
}

.control.minimize {
  background-color: #ee0;
}

.control.maximize {
  background-color: #0b0;
}

.terminal-title {
  float: left;
  line-height: 1.5rem;
  color: #eee;
}

.text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.2rem solid green;
  animation: typeAndDelete 3s steps(11) infinite,
    blinkCursor 0.5s step-end infinite alternate;
  margin-top: 1.5rem;
}

@keyframes blinkCursor {
  50% {
    border-right-color: transparent;
  }
}


@keyframes typeAndDelete {

  0%,
  10% {
    width: 0;
  }

  20%,
  30% {
    width: 20%;
  }

  40%,
  50% {
    width: 35%;
  }

  60%,
  70% {
    width: 70%;
  }

  95%,
  100% {
    width: 0;
  }
}

/* ----- Responsiveness ------ */

@media screen and (max-width: 768px) {
  .container {
    height: calc(100svh - 100px);
    grid-template-columns: 100%;
    justify-items: center;
  }

  nav {
    margin-top: 10px;
    justify-content: center;
  }

  nav img {
    margin: 5px;
  }
}